header {
    background-color: #2C3E50;
    top: 0;
    padding:25px 0px;
    position: relative;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 25px;
}
div {
    text-align: center;
    margin-right: 20px;
}
header a {
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.center {
    align-items: center;
    text-align: center;
}
footer {
    background-color: #2C3E50;
    height: 50px;
    text-align: center;
    margin-top: 50px;
}
.button {
    width: 150px;
    font-size: 45px;
    border-radius:12px 0 12px 0;
    background: #d34836;
    border:none;
    color:#fff;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
}
select {
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
    letter-spacing: 1px;
    border: none;
    border-radius: 2.5px;
    font-size: 20px;
    z-index: 1;
}
.txt {
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
    letter-spacing: 1px;
    border-radius: 2.5px;
    font-size: 20px;
    z-index: 1;
}
.medicament {
    text-transform: uppercase;
    padding: 10px;
    background-color: white;
    letter-spacing: 1px;
    border-radius: 2.5px;
    font-size: 20px;
    z-index: 1;
}